.p-inputotp {
    justify-content: space-between;
    input{
        border-radius: 50% !important;
        width: 52px;
        height: 52px;
    }
}

.p-slider .p-slider-handle{
    background-color: #ECA939;
    border: 2px solid #fff;
    }
    .p-slider .p-slider-range{
    background-color: #ECA939;
    }